

                <div    class="card-panel z-depth-5" style="display: none;"  id="tab1"class="row">
                    <form  action="/definir" method="POST" class="col s12">
                      <h4>Definir Et Etablir Form :  </h4>
                      <div class="row">
  
  
  
                           <input hidden name="id"  value ="<%= user.id %> " type="text" class="validate">
  
                          <div class="input-field col s6">
                            <input name="intier" type="text" class="validate">
                              <label for="intier">intier le smsi                      </label>
                            </div>
  
                          <div class="input-field col s6">
                            <input name="compr" type="text" class="validate">
                              <label for="compr">comprehension de lorganisation                       </label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input  name="analyse" type="text" class="validate">
                                <label for="analyse">analyse le systeme existant</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <input name="leadership" type="text" class="validate">
                                  <label for="leadership">leadership et approbation du project</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s12">
                                  <input name="domaine" type="text" class="validate">
                                    <label for="domaine">domaine d'application</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col s12"> 
  
                                    <div class="input-field col s12">
                                      <input name="politque" type="text" class="validate">
                                        <label for="politque">politique de securite:</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col s12">
  
  
                                      <div class="input-field col s12">
                                        <input name="management" type="text" class="validate">
                                          <label for="management">management ou risque:</label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col s12">
  
  
                                        <div class="input-field col s12">
                                          <input name="structure" type="text" class="validate">
                                            <label for="structure">structure organistationelle :</label>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col s12">
  
  
                                          <div class="input-field col s12 ">
                                            <label for="declaration">declaration d'application :</label>
  
                                            <input name="declaration" type="text" class="validate">
                                            </div>
  
                                            <div class="input-field col s12">
                                              <button   class="btn waves-effect waves-light gradient-45deg-indigo-blue left" type="submit"> Save
                                                <i class="material-icons right">send</i>
                                              </button>
                                            </div>
  
                                          </div>
                                        </div>
                                      
                                      </form>
                                    </div>
                                    <!-- ----------------- END TAB1 -------------------------------- -->
                                    <!-- ----------------- TAB2 -------------------------------- -->
                                    <div    class="card-panel z-depth-5"      id="tab2"class="row">
                                      <form  action="/mettre" method="POST"  class="col s12">
                                        <h4>Mettre En Oeuvre et Operer Form :   </h4>
  
                                        <input hidden name="id"  value ="<%= user.id %> " type="text" class="validate">
  
                                        <div class="row">
                                          <div class="input-field col s6">
                                            <input name="conception" type="text" class="validate">
                                              <label for="conception"> conception des mesures et des procedure</label>
                                            </div>
                                            <div class="input-field col s6">
                                              <input name="mise" type="text" class="validate">
                                                <label for="mise"> mise en oeuvre des mesures</label>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="input-field col s6">
                                                <input  name="gestion" type="text" class="validate">
                                                  <label for="gestion">gestion dela documentation</label>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="input-field col s12">
                                                  <input name="communication" type="text" class="validate">
                                                    <label for="communication">communication</label>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="input-field col s12">
                                                    <input name="senssibilisaton" type="text" class="validate">
                                                      <label for="senssibilisaton">senssibilisaton et formation </label>
                                                    </div>
                                                  </div>
                                                  <div class="row">
                                                    <div class="col s12">
                                                      <div class="input-field inline">
                                                        <label for="operations"> gestion des operations </label>
                                                        <input name="operations" type="text" class="validate">
                                                        </div>
                                                      </div>
                                                      <div class="input-field col s12">
                                                        <button class="btn waves-effect waves-light gradient-45deg-indigo-blue left" type="submit" "> Save
                                                          <i class="material-icons right">send</i>
                                                        </button>
                                                      </div> 
                                                    </div>
                                                  
                                                  </form>
                                                </div>
                                                <!-- ----------------- END TAB2 -------------------------------- -->
                                                <!-- ----------------- TAB3 -------------------------------- -->
                                                <div   class="card-panel z-depth-5"   style="display: none;"  id="tab3"class="row">
                                                  <form   action="/SURVEILLER " method="POST" class="col s12">
                                                    <h4>Surveiller Et Revoir Form :  </h4>
                                                    <input hidden name="id"  value ="<%= user.id %> " type="text" class="validate">
  
                                                  
                                                    <div class="row">
                                                      <div class="input-field col s6">
                                                        <input name="suivi" type="text" class="validate">
                                                          <label for="suivi">suivi mesure </label>
                                                        </div>
                                                        <div class="input-field col s6">
                                                          <input name="evaluation" type="text" class="validate">
                                                            <label for="evaluation">analyse et evaluation </label>
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                          <div class="input-field col s12">
                                                            <input  name="audit" type="text" class="validate">
                                                              <label for="audit">audit interne </label>
                                                            </div>
                                                          </div>
                                                          <div class="row">
                                                            <div class="input-field col s12">
                                                              <input name="direction" type="text" class="validate">
                                                                <label for="direction">revue de direction</label>
                                                              </div>
  
                                                              <div class="input-field col s12">
                                                                <button class="btn waves-effect waves-light gradient-45deg-indigo-blue left" type="submit" > Save
                                                                  <i class="material-icons right">send</i>
                                                                </button>
                                                              </div>
                                                            </div>
                                                          
                                                          </form>
                                                        </div>
                                                        <!-- ----------------- END TAB3 -------------------------------- -->
                                                        <!-- ----------------- TAB4 DEFINIR ET ETABLIR FORM -------------------------------- -->
                                                        <div     class="card-panel z-depth-5"  style="display: none;"  id="tab4"class="row">
                                                          <form  action="/maintenir " method="POST"  class="col s12">
                                                         
                                                         
                                                         
                                                       <h4>Maintenir et Améliorer Form :   </h4>
                                                       <input hidden name="id"  value ="<%= user.id %> " type="text" class="validate">
  
                                                       
                                                       
                                                       <div class="row">
                                                              <div class="input-field col s6">
                                                                <input name="maintenir" type="text" class="validate">
                                                                  <label for="maintenir">maintenir et améliorer</label>
                                                                </div>
                                                                <div class="input-field col s6">
                                                                  <input name="traitement" type="text" class="validate">
                                                                    <label for="traitement">traitement des non-confomites</label>
                                                                  </div>
                                                                </div>
                                                                <div class="row">
                                                                  <div class="input-field col s12">
                                                                    <input  name="Amelioration" type="text" class="validate">
                                                                      <label for="Amélioration">Amélioration continue</label>
                                                                    </div>
                                                                    <div class="input-field col s12">
                                                                      <button class="btn waves-effect waves-light gradient-45deg-indigo-blue left" type="submit"  > Save
                                                                        <i class="material-icons right">send</i>
                                                                      </button>
                                                                    </div> 
                                                                  </div>
                                                                  
                                                                </form>
                                                              </div>
                                                              <!-- ----------------- END TAB4 -------------------------------- -->
                                                            </div>
                                                            <!--card widgets start-->
                                                            <div id="card-widgets">
                                                              <div class="row">
                                                                <div class="col s12 m12 l4">
                                                                  <div id="flight-card" class="card">
                                                                    <div class="card-header deep-orange accent-2"></div>
                                                                    <div class="card-content-bg white-text"></div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <!--card widgets end-->