<aside id="left-sidebar-nav">
	<ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="transform: translateX(-100%);">
		<li class="user-details cyan darken-2">
			<div class="row">
				<div class="col col s4 m4 l4">
					<img src="images/avatar/avatar-7.png" alt="" class="circle responsive-img valign profile-image cyan">
					</div>
					<div class="col col s8 m8 l8">
						<a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"><%= user.username %>
							<i class="mdi-navigation-arrow-drop-down right"></i>
						</a>
				 
						<!-- <p class="user-roal">Administrator</p> -->
						<br>
						<br>
					</div>
				</div>
			</li>
			<li class="no-padding">
				<ul class="collapsible" data-collapsible="accordion">
					<li class="bold">
						<a href="acceuill" class="waves-effect waves-cyan">
							<i class="material-icons">dashboard</i>
							<span class="nav-text">Acceuill</span>
						</a>
					</li>
					<li class="bold">
						<a href="/profile" class="waves-effect waves-cyan">
							<i class="material-icons">account_box</i>
							<span class="nav-text">Profile</span>
						</a>
					</li>
					<li class="bold">
						<a href="/setting" class="waves-effect waves-cyan">
							<i class="material-icons">settings</i>
							<span class="nav-text">Settings</span>
						</a>
					</li>
					<li class="bold">
						<a href="/contact" class="waves-effect waves-cyan">
							<i class="material-icons">contacts

</i>
							<span class="nav-text">contacts

</span>
						</a>
					</li>
					<li class="bold">
						<a href="/logout" class="waves-effect waves-cyan">
							<i class="material-icons">remove_circle


</i>
							<span class="nav-text">logout

</span>
						</a>
					</li>
				 
					<li></li>
				</ul>
			</li>
		 
		 
	  
		</ul>
		<a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
			<i class="material-icons">menu</i>
		</a>
	</aside>