<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
 <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Handlee|Josefin+Sans:300,600&amp;display=swap'><link rel="stylesheet" href="views/index.css">
 <body>

    <!-- partial:index.partial.html -->
<!-- particles.js container --> <div id="particles-js">

</div> <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
 <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">
</script>
<script  src="./script.js"></script>


    <div class="container">
      <div class="card-wrap">
        <div class="card border-0 shadow card--welcome is-show" id="welcome">
          <div class="card-body">
            <h2 class="card-title">WELCOME</h2>
            
            <div class="btn-wrap"><a class="btn btn-lg btn-register js-btn" href="Signup">Register</a><a class="btn btn-lg btn-login js-btn" href="login">LOGIN</a></div>
          </div>
        </div>
        
    <!-- partial -->
<!-- particles.js container --> 
<!-- partial -->
<script  src="views/script.js"></script>
    </body>
</html>

