<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Materialize - Material Design Admin Template</title>
    <!-- Favicons-->
    <link rel="icon" href="static/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="../images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="../css//materialize.css" type="text/css" rel="stylesheet">
    <link href="../css//style.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="../css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  
  <link rel='stylesheet' href="../css/bootstrap.min.css"> 
	<link rel="stylesheet" href="../css//particles.css">
    <link href="../vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="../vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
</head>
  
     <style>
       body{
background-color: #0656c3;
background-image: linear-gradient(19deg, #218dfd 0%, #3921ff 100%);
}
       .progress{
         width:50%;
         margin:0 auto;
         margin-top:20%;
       }
       .modal { width: 80%  ; height: 90%   ; }  /* increase the height and width as you desire */

       @media only screen and (max-width:924px){
            .progress{
               width:70%;
               margin:0 auto;
               margin-top:60%;
             }
       }
    
     </style>
  </head>
  
  <body>	  
    
    <!-- partial:index.partial.html -->
<!-- particles.js container --> <div id="particles-js">

</div> <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js">
</script>
<script  src="views/script.js"></script>
    
     <div id="flayer">
          <div id="slayer">
    
    <div class="container"  >
        <br>
       
        <div class="row">
          <div class="col l3 m3 s12"></div>
          <div class="col l6 m6 s12">
		  
		  

		  
		  
		  
            <form action="/login" method="POST">
                 <div class="card-panel z-depth-5">
   <center> <img class="responsive-img center"  height="20%" width="20%" src="https://image.flaticon.com/icons/svg/3043/3043486.svg"/><h5>Login </h5>
			</center> <p class="center">Join to our community now !</p>
               
			   
			   
			   
                    <div class="row">

			   
			   <div class="input-field col s12">
          <input placeholder="Username" name="username" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
			   </div>
			   
 			   
                  
        
                 <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" id="first_name" name="password" type="text" class="validate">
          <label for="first_name">Password</label>
        </div>
      
      </div>
                   
                  <input type="submit" name="submit" value="Login" class="btn gradient-45deg-indigo-blue
 center col s12">
                                  <p class="left">Already have an account? <a href="/signup" class="modal-trigger">Register</a></p>

                  <div class="clearfix"></div>
               </div>
            </form>
            
          </div>
           
      
          
          
        </div>
    </div>
     </div>
          </div>
 
     
               
                 
                 
            </div>
      </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    
      const login = document.querySelectorAll(".modal");
      M.Modal.init(login,{
        opacity:0.7,
        dismissible:false
      });
      
      document.querySelector("#content").style.display="none";
      document.querySelector("#flayer").classList.add("progress");
      document.querySelector("#slayer").classList.add("indeterminate");
      
      setTimeout(function(){
          document.querySelector("#flayer").classList.remove("progress");
          document.querySelector("#slayer").classList.remove("indeterminate");
          document.querySelector("#content").style.display="block";
      },3000)
    </script>
  </body>
</html>