<html lang="en">
  <%  include includes/head.ejs %>
<body class="loaded"  >
<!-- Start Page Loading -->
<div id="loader-wrapper">
<div id="loader"></div>
<div class="loader-section section-left"></div>
<div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
<!-- start header nav-->
<div class="navbar-fixed">
<nav class="navbar-color gradient-45deg-indigo-blue
">
<div class="nav-wrapper">
<ul class="left">
<li>
<h1 class="logo-wrapper">
<a href="index.html" class="brand-logo darken-1">
<img src="images/logo/materialize-logo.png" alt="materialize logo">
<span class="logo-text hide-on-med-and-down">ITS management</span>
</a>
</h1>
</li>
</ul>
<div class="header-search-wrapper hide-on-med-and-down"></div>
<!-- translation-button -->
<!-- notifications-dropdown -->
<!-- profile-dropdown -->
</div>
</nav>
</div>
<!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
<!-- START WRAPPER -->
<div class="wrapper">
<!-- START LEFT SIDEBAR NAV--><%  include includes/navbar.ejs %>
<!-- END LEFT SIDEBAR NAV-->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<section id="content">
<!--start container-->
<div class="container">
<div id="card-widgets">
<div class="row">
<div class="col s12 m12 l4">
<div id="flight-card" class="card">
<div class="card-header deep-orange accent-2"></div>
<div class="card-content-bg white-text"></div>
</div>
</div>
</div>
</div>
<!--card widgets end-->
<!--work collections start-->
<div id="work-collections">
<div class="row">
<div class="col s12 m12">
<div class="card-panel">
<h4 class="header2">Setting </h4>
<div class="row">
<form   action="/setting"   method="POST" class="col s12">
<div class="row">
<div class="input-field col s12">
<input placeholder="Username" value=<%= user.username %>     name="username" id="name2" type="text">
<label for="first_name" class="active">Name</label>
</div>
</div>
<div class="row">
<div class="input-field col s12">
<input placeholder="john@domainname.com"  value="<%= user.email %> "name="email" id="email2" type="email">
<label for="email" class="active">Email</label>
</div>
</div>

<div class="row">
  <div class="input-field col s12">
  <input placeholder="company"  value="<%= user.company %> "name="company" id="company" type="text">
  <label for="company" class="active">company Name </label>
  </div>
  </div>

 




<div class="row">
<div class="input-field col s12">
<input placeholder="YourPassword"  name="password" id="password2" type="password">
<label for="password" class="active">Password</label>
</div>
</div>



<div class="row">
<div class="input-field col s12">
<input  name="passwordtwo"  placeholder="YourPassword" id="password2" type="password">
<label for="password" class="active">Password</label>
</div>
</div>
<div class="row">
<div class="row">
<div class="input-field col s12">
<button class="btn waves-effect waves-light gradient-45deg-indigo-blue
left" type="submit"  >Edit Profile
<i class="material-icons right">send</i>
</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<!--work collections end-->
 </div>
<!--end container-->
</section>
<!-- START LEFT SIDEBAR NAV--><%  include includes/navbar.ejs %>
<!-- END LEFT SIDEBAR NAV-->
</div>
<!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- START FOOTER -->


<%  include includes/footer.ejs %>

<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="js/custom-script.js"></script>
<div class="hiddendiv common"></div>
<div class="drag-target" data-sidenav="chat-out" style="right: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
<div class="hiddendiv common"></div>
<div class="drag-target" data-sidenav="chat-out" style="right: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
<div class="drag-target" data-sidenav="slide-out" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
</body>
</html>